<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset="utf-8">
		<title>Livraria</title>
		<link rel="stylesheet" href="stylesLivraria.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="livraria.js"></script>
		<script src="db.js"></script>
		
	</head>
	
	<body>
		<header>
			<h1>Livraria P3</h1>
		</header>
		<div ng-app="Livraria" ng-controller="LivrariaController" class="items">
			<div class="content_left">
				<img src="{{book.photo}}"height="350" width="280"></img>
			</div>
			<div class="informationsBook">
				<h2>{{book.title}}</h2>
				<p>Autores: {{book.authors}}</p>
				<p>Descrição: </p>
				<p>{{book.description}}</p>
				<p>Preço: <span>{{book.price}}<span></p>
			</div>
			<hr>
			<center>
			<button ng-click="previous()">Anterior</button>
			<button ng-click="next()">Próximo</button>
			<button id="myBtn">Adicionar livro</button>
			<button id="myBtnEdit">Editar livro</button>
			</center>
			<hr>
			<div>
				<h2>Comentários</h2>
				<ul ng-repeat="comment in book.comments">
					<li>Comment: {{comment}}</li>
				</ul>
				<textarea id="comment" rows="4" cols="50" ng-model="comment"></textarea><br>
				
				<button ng-click="addComment(comment)"> >Inserir comentário</button>
			
				<div id="myModal" class="modal">
				  <div class="modal-content">
					<span class="close">×</span>
					<div class="modal-body">
						<p><b>Adicionando livro</b></p>
						<form>
							<p>Title: 
								<input type="text" ng-model="title">
							</p>
							<p>Authors:
								<input type="text" ng-model="authors">
							</p>
							<p>Description:
								<input type="text" ng-model="description">
							</p>
							<p>Url da capa:
								<input type="text" ng-model="photo">
							</p>
							<p>Preço:
								<input type="text" ng-model="price">
							</p>
							<button id="btnAdd" ng-click="addBook(title, authors, description, photo, price, [])">Adicionar livro</button>
						</form>
					</div>
				  </div>
				</div>
				
				<div id="myModalEdit" class="modal">
				  <div class="modal-content">
					<span class="closeEdit">×</span>
					<div class="modal-body">
						<p><b>Editando livro</b></p>
						<form>
							<p>Title: 
								<input type="text" ng-model="ntitle">
							</p>
							<p>Authors:
								<input type="text" ng-model="nauthors">
							</p>
							<p>Description:
								<input type="text" ng-model="ndescription">
							</p>
							<p>Url da capa:
								<input type="text" ng-model="nphoto">
							</p>
							<p>Preço:
								<input type="text" ng-model="nprice">
							</p>
							<button id="btnEdit" ng-click="editBook(ntitle, nauthors, ndescription, nphoto, nprice)">Editar livro</button>
						</form>
					</div>
				  </div>
				</div>
			</div>
		</div>
		<script>
			var modal = document.getElementById('myModal');
			var btn = document.getElementById("myBtn");
			var modalEdit = document.getElementById('myModalEdit');
			var btnE = document.getElementById("myBtnEdit");
			var btnEdit = document.getElementById("btnEdit");
			var btnAction = document.getElementById("btnAdd");
			var span = document.getElementsByClassName("close")[0];
			var spanEdit = document.getElementsByClassName("closeEdit")[0];


			btn.onclick = function() {
				modal.style.display = "block";
			}

			btnAdd.onclick = function() {
				modal.style.display = "none";
			}
			span.onclick = function() {
				modal.style.display = "none";
			}
			spanEdit.onclick = function() {
				modalEdit.style.display = "none";
			}
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
				if (event.target == modalEdit) {
					modalEdit.style.display = "none";
				}
			}
			
			btnE.onclick = function() {
				modalEdit.style.display = "block";
			}

			btnEdit.onclick = function() {
				modalEdit.style.display = "none";
			}
		</script>
	</body>
<html>