body {
	background-color:#FFE1FF;
	margin:auto;
}

header, footer {
	background-color: #8B008B;
	padding:1px;
	position:relative;
	color: #FFFFFF;
	text-align:center;
	 width: 100%;
 height: 20%;
}

span {
	color: #696969;
	font-family: Georgia;
	font-size: 24px;
}

li {
	list-style-type: none;
}
.items {
	margin: 30px;
}
.content_left{
    width:300px;
    height:350px;
    float:left;
}

.informationsBook {
    height:350px;
}

